{% extends 'college/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HOMEPAGE</title>
  </head>
  <body>
    {% block content %}
    <br>
    <div class="container">
      <div class="row">
        <div class="col">
          <h2>College details</h2>
        </div>
        <div class="col">
          <a class="btn btn-primary "href="{% url 'addcollege' %}">Add College</a>
        </div>
      </div>
    </div>
    <div class="container">
      <table class="table table-striped table-hover table-dark ">
        <th>NAME</th>
        <th>PRINCIPAL</th>
        <th>LOCATION</th>
        <th>IMAGE</th>
        {% for i in C %}
        <tr>
          <td>{{i.name}}</td>
          <td>{{i.principal}}</td>
          <td>{{i.location}}</td>
          <td> <img class="table_images"src="{{i.college_image.url}}" alt="not found"> </td>
        </tr>
        {% endfor %}
      </table>
    </div>
<br>
    <div class="container">
      <div class="row">
        <div class="col">
            <h2>Student details</h2>
        </div>
        <div class="col">
          <a class="btn btn-primary" href="{% url 'addstudent' %}">Add Student</a>
        </div>
      </div>
    </div>
    <div class="container">
      <table class="table table-striped table-hover table-dark">
        <th>NAME</th>
        <th>COLLEGE</th>
        <th>BRANCH</th>
        <th>SEMESTER</th>
        <th>IMAGE</th>
        {% for i in S %}
        <tr>
          <td>{{i.name}}</td>
          <td>{{i.college}}</td>
          <td>{{i.branch}}</td>
          <td>{{i.semester}}</td>
          <td> <img class="table_images" src="{{i.student_image.url}}" alt="not found"> </td>
        </tr>
        {% endfor %}
      </table>
    </div>
    {% endblock %}
  </body>
</html>
